/* Created by: Shyla Oommen
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Programming-Unit4-02-PHP-ColdHot -->
*/

body {
  background-color: #eae1df;
}

h1, h3 {
  background-color: #284b63;
  text-align: center;
  border: 2px solid #545e56;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

p, form{
  background-color: #284b63;
  border: 2px solid #545e56;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 115%;
}

#results {
  background-color: #4c8ab5;
  border: 2px solid #545e56;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 115%;
}
